
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="header">
    <a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>
    <a href="/update">Update</a>
    <a href="/search">Search</a>
    </div>
    
    <h2 class="h2">Data Display Page</h2>
    <table border="1" id="tbl">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Subject</th>
            <th>Fees</th>
        </tr>
    <% Data.forEach((key)=>{ %>
        <tr>
            <td><%= key.name %></td>
            <td><%= key.city %></td>
            <td><%= key.subject %></td>
            <td><%= key.fees %></td>
        </tr>
    <% }) %>

    </table>
    
    
</body>
</html>