
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/insert">Insert</a>
        <a href="/display">Display</a>
        <a href="//update">Update</a>
        <a href="/search">Search</a>
    </div>
    <hr size="3px" color="black">
    <h3>Welcome to our insert page</h3>

    <form action="/dataSave" method="post">
        Enter Name: <input type="text" name="name"><br/><br/>
        Enter Rollno: <input type="text" name="rollno"><br/><br/>
        Enter City: <input type="text" name="city"><br/><br/>
        Enter Fees: <input type="text" name="fees"><br/><br/>
        <button>Save</button>
    </form>
    <hr size="3px" color="black">
    www.company node.js.com our visited website
    
</body>
</html>