
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="header">
    <a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>
    <a href="/update">Update</a>
    <a href="/search">Search</a>
    </div>
    
    <h2 class="h2">search page</h2>
    <form action="/searchdata" method="post" id="form2">
        Enter Name: <input type="text" name="name"><br/><br/>
        <button>Search</button>
    </form>
    <div id="search">
  <% if(Data.length<1) { %>
     <h2>Data not Found</h2>
 <% } %>
    <% Data.forEach((key)=>{ %>
        <h2>Name: <%= key.name %></h2>
        <h2>City: <%= key.city %></h2>
        <h2>Subject: <%= key.subject %></h2>
        <h2>Fees: <%= key.fees %></h2>

    <% }) %>

    </div>
</body>
</html>