
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-color: rgb(77, 160, 175);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 25px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header a{
    text-decoration: none;
    color: aliceblue;
}

/*=*==============================================INSERT PAGE========================================================*/
.h2{
    text-align: center;
    margin-top: 15px;
}
#form{
    margin-top: 20px;
    width: 400PX;
    height: 370px;
    margin-left: 33%;
    background-color: aliceblue;
    padding: 2.4rem;
    border-radius: 10px;
}
#form input{
    width: 100%;
    height: 35px;
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
}
#form button{
    padding: 0.4rem;
    background-color: dodgerblue;
    border-radius: 10px;
    font-size: 15px;
}
/*=*==============================================DISPLAY PAGE========================================================*/
#tbl{
    margin-top: 20px;
    margin-left: 30%;
    width: 600px;
    height: auto;
}
#tbl tr th{
    background-color: black;
    color: aliceblue;
    font-size: 17px;
    height: 35px;
}
/*==============================================SEARCH PAGE==================================================*/
#form2{
    margin-top: 20px;
    width: 400PX;
    height: 200px;
    margin-left: 33%;
    background-color: aliceblue;
    padding: 2.4rem;
    border-radius: 10px;
}
#form2 input{
    width: 100%;
    height: 35px;
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
}
#form2 button{
    padding: 0.4rem;
    background-color: dodgerblue;
    border-radius: 10px;
    font-size: 15px;
}